<% if message.member.user.id == current_user_id %>
  <div class="my-message">
    <p><%= message.content %></p>
  </div>
<% else %>
  <div class="other-message">
    <div class="other-message-wrapper">
    <h4 class="message-username" style="color: <%= message.member.color %>"><%= message.member.user.username %></h4>
    <p><%= message.content %></p>
    </div>
  </div>
<% end %>
