.create-group-index,
.button-delete-group-toogle{
  width: 7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;
}
.create-group-index{
  background-color: #00a184;
  color: white;

  &:hover{
    transform: scale(1.1);
  }
}
.button-delete-group-toogle{
  background-color: #008377;
  color: white;

  &:hover{
    transform: scale(1.1);
  }
}