.create-group-index,
.button-delete-group-toogle{
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s ease;

  &:hover{
    transform: scale(1.1);
  }

  &:active{
    transform: scale(1);
  }
}
.create-group-index{
  background-color: #025951;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-delete-group-toogle{
  background-color: #012623;
  color: white;
}