<div id="tabbar-container">

  <%= link_to groups_path, class: "button_tabbar" do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to new_group_path, class: "button_tabbar" do %>
    <i class="fas fa-plus"></i>
  <% end %>

  <%= link_to member_path(current_user.id), class: "button_tabbar" do %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "profileimg" %>
  <% end %>


</div>
