<div class="section__title--groups">
  <div class="line-groups"></div>
    <h2 class="section__h2--groups">Your chats</h2>
  <div class="line-groups"></div>
</div>

<div class="container-chats">
<% @groups.each do |group| %>
  <div class="card-group">
    <% chat = Chat.find_by(group_id: group.id) %>
    <%= link_to chat_messages_path(chat.id), class: "card-group-title" do %>
    <%= image_tag("fotox.webp", class: "picture-profile-group") %>
    <div class="name-group-description">
      <h3><%= group.name %></h3>
    </div>

    <div class="count">
      <% member =  Member.find_by(user_id: current_user.id, group_id: group.id) %>
      <% messages = Message.where(chat_id: chat.id) %>
      <% reads = Read.where(member_id: member.id, message_id: messages.select(:id)) %>
      <% unreads = 0 %>
      <% reads.each do |read| %>
        <% if read.read == false %>
          <% unreads += 1 %>
        <% end %>
      <% end %>
      <%=" #{unreads} "%>
    </div>
  </div>
  <% end %>
<% end %>
</div>
