.container-chats{
  width: 90vw;

  .card-group {
    margin-bottom: 1rem;
  }
}

.count {
  font-size: 2em;
  background-color: #054d4a;
  border-radius: 1rem;
  color:white;
  padding-right: 1rem;
  padding-left: 1rem;
}
