.new-task {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

#new_task {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.new-task-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.task_name {
  width: 60%;
}

.task_quantity, .task_unit {
  width: 20%;
}

#task-name {
  display: flex;
  flex-grow: 3;
  border-radius: 0.5rem;
}

#task-quantity {
  display: flex;
  flex-grow: 1;
  border-radius: 0.5rem;
}

#task-unit {
  display: flex;
  flex-grow: 1;
  border-radius: 0.5rem;
}

#new-task-button {
  width: 100%;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: #00967a;
  border-color: #00967a;
  transition: all 0.3s ease;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;

  &:hover{
    transform: scale(1.05);
  }
}
.form-newtask-showview {
  padding: 0rem !important;
  padding-top: 1rem !important;
}
.h3-sing-in{
  font-size: 1.2em;
  color: #012623;
}