
.the-profile{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-desc {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: none;
  margin-bottom: 2rem;
  width: 100%;

  background-color: #ccc;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}

.profile-picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-desc h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.profile-desc h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  color: #444;
}

.progress-profile{
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  
  background-color: #ccc;
  padding: 0.5rem;
  border-radius: 0.5rem;
}


.btn-logout {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.3s ease;
  font-weight: bold;
  background-color: #012623;
  color: white;
}

.btn-edit {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: #054d4a;
  color: white;
}
.btn-logout:hover {
  background-color: #012623;
  color: white;
  transform: scale(1.05);
}
.btn-logout:active{
  background-color: #012623;
  color: white;
}
.btn-edit:hover {
  background-color: #054d4a;
  color: white;
  transform: scale(1.05);
}
.btn-edit:active{
  background-color: #054d4a;
  color: white;
}

.progress-bar {
  background-color: #04ad9e; /* The color of the progress */
  height: 20px;
}

.edit-section {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
